#! /bin/csh -f

###########################################################
## COMMAND
###########################################################
vcs -sverilog -f wi_run.f -debug_access+f+w+cbk+fwn -debug_region=cell+lib +nospecify  -gupf_config ../scripts/vcs_config_wisim.tcl

